:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: var(--background);
    display: grid;
    column-count: 2;
    grid-template-columns: 130px 1fr;
    column-fill: auto;
}

aside {
    background-color: coral;
    display: grid;
    column-count: 2;
    grid-template-rows: 115px 1fr;
}

#logo {
    border: solid black;
}

.logoText {
    font-family:Verdana, Geneva, Tahoma, sans-serif
    font-size: 5px;
    padding: 5px;
}

#asideFlex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
    font-size: 1.5em;
}


#alphaBoxRight {
    background-color: teal;
    display: grid;
    row-count: 3;
    grid-template-rows: 30px 70px 1fr;
}

header {
    background-color: aqua;
}

#welcome {
    background-color: blueviolet;
    margin: 15px 20px 5px 20px;
}

main {
    background-color: goldenrod;
    display: grid;
    column-count: 2;
    grid-template-columns: 6fr 4fr;
    /* column-fill: auto; */
}

#mainColumnL {
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#mainColumnR {
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#articleLFlex1 {
    background-color: violet;
    height: 300px;
    margin: 0px 10px;
    
}
#articleLFlex2 {
    background-color: blueviolet;
    height: 700px;
    margin: 0px 10px;

}
#articleRFlex1 {
    background-color: orangered;
    height: 220px;
    margin: 0px 10px;
}

#articleRFlex2 {
    background-color: crimson;
    height: 780px;
    margin: 0px 10px;
}

header {
}

main {
    padding: 20px;
}
