:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: var(--background);
    display: grid;
    column-count: 2;
    grid-template-columns: 130px 1fr;
    column-fill: auto;
}

aside {
    background-color: coral;
}

#alphaBoxRight {
    background-color: teal;
}

header {
}

main {
    padding: 20px;
}
